/** navbar **/
.brand-logo {
    margin-left: 10px;
}

/* styling buttons */

.btn_small {
    height: 24px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

/***icons***/
.fa-hand-holding-heart {
    color: #f67138;
}




