/** navbar **/
.brand-logo {
    margin-left: 10px;
}

/* styling buttons */

.btn_small {
    height: 24px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

/***index-page***/
.index-bg {
    background-color: #f67138;
    margin: 20px;
}




