/* styling done and edit buttons */

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
}

.waves-effect {
    padding: unset;
    width: 70px;
    margin: 5px;
}

.task_header {
    margin-top: 5px;
}
