{% extends 'base.html' %} {% block content %}
<section id="error-page">
    <div class="page-wrap">
        <h1>404</h1>
        <div class="error-content">
            <h2>Looks like you have gotten yourself lost</h2>
            <a href="#" class="button">Got home</a>
        </div>
        <div class="center-align error-ram">
                <img src="static/img/ram-emoji.png" alt="emoji of a ram/male sheep" class=" responsive-img">
        </div>
        <div class="row center-align error-btn">
            <a href="{{ url_for('random') }}" class="waves-effect waves-light btn">
                <i class="material-icons right">add</i>Go to RAM
            </a>
        </div>
    </div>
</section>

{% endblock %}